.yearFilterContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  color: #333;
}

.checkbox {
  cursor: pointer;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
} 